body,html{
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
    background-color: rgb(43, 43, 43);
    background-color: black;
    color: white;
}

body{
    display: flex;
    flex-direction: column;
}

#list{
    display: flex;
    flex-wrap: wrap;
}

#holder{
    padding-top: 50px;
    background-color: rgb(19, 19, 19);
}

.episode_button{
    padding: 10px;
    margin: 2px;
    float: left;
    background-color: rgb(30, 30, 30);
    color: white;
    border: 0;
}

.episode_button:hover{
    background-color: rgb(44, 44, 44);
    cursor: pointer;
}

.episode_button:active{
    background-color: rgb(33, 33, 33);
}

#return_to_top{
    opacity: 0.3;
    position: fixed;
    bottom: 70px;
    right: 2%;
    width: auto;
    text-align: center;
    color: white;
    border: 3px solid rgb(120, 120, 120) !important;
    padding: 5px;
    margin: 5px;
    border: 3px solid black;
}

#next_ep{
    opacity: 0.3;
    position: fixed;
    bottom: 10px;
    right: 2%;
    width: 10%;
    text-align: center;
    color: white;
    padding: 5px;
    margin: 5px;
    border: 3px solid rgb(120, 120, 120);
}

#return_to_top:hover, #next_ep:hover{
    opacity: 1;
    cursor: pointer;
}

.diaplay{
    padding:0;
    margin: 0;
}

.imgholder{
    padding:0;
    margin: 0;
    display: flex;
    justify-content: center;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1{
    color: rgb(120, 120, 120);
}

#init_settings{
    width: 50%;
    margin: auto;
}

